Repository 10up/wordpress-develop, pull requests merged in 2023-02, with the labels that each got.

#6 Set up initial GitHub action for performance tests
  .github/workflows/performance.yml
  package.json
  tests/performance/cli.js
Labels: needs:code-review, Automated Performance Testing

#7 MU plugin for the Server-Timing API
  .github/workflows/performance.yml
  tests/performance/mu-plugins/server-timing.php
Labels: Automated Performance Testing

#16 Record Server-Timing metrics during GH workflows
  .github/workflows/performance.yml
  .gitignore
  package-lock.json
  package.json
  tests/performance/cli.js
  tests/performance/config/bootstrap.js
  tests/performance/jest.config.js
  tests/performance/results.js
  tests/performance/run-tests.js
  tests/performance/specs/home-block-theme.test.js
  tests/performance/specs/home-classic-theme.test.js
Labels: needs:code-review, Automated Performance Testing

#34 Script Loading Strategy - Milestone 1
  src/wp-includes/class-wp-scripts.php
  src/wp-includes/functions.wp-scripts.php
  tests/phpunit/tests/dependencies/scripts.php
Labels: needs:code-review, Script Loading Strategy

#36 Add support for base metrics
  .github/workflows/performance.yml
  tests/performance/log-results.js
  tests/performance/results.js
  tests/performance/run-tests.js
  tests/performance/specs/home-block-theme.test.js
  tests/performance/specs/home-classic-theme.test.js
  tests/performance/utils.js
Labels: Automated Performance Testing

#41 Prepare for Core merge
  .github/workflows/performance.yml
Labels: needs:code-review, Automated Performance Testing
