Repository 10up/wordpress-develop, pull requests merged in 2023-04, with the labels that each got.

#47 Script Loading Strategy - Update standalone business logic
  src/wp-includes/class-wp-scripts.php
  tests/phpunit/tests/dependencies/scripts.php
Labels: needs:code-review, Script Loading Strategy

#46 Add inline script standalone
  src/wp-includes/class-wp-scripts.php
  src/wp-includes/functions.wp-scripts.php
  tests/phpunit/tests/dependencies/scripts.php
Labels: needs:code-review, Script Loading Strategy

#50 Implement load handlers
  src/wp-includes/class-wp-scripts.php
  src/wp-includes/default-filters.php
  src/wp-includes/script-loader.php
  tests/phpunit/includes/utils.php
  tests/phpunit/tests/dependencies/scripts.php
Labels: Script Loading Strategy

#49 Add text template
  src/wp-includes/class-wp-scripts.php
  src/wp-includes/default-filters.php
  src/wp-includes/script-loader.php
  tests/phpunit/includes/utils.php
  tests/phpunit/tests/dependencies/scripts.php
Labels: Script Loading Strategy

#51 Add / 48 Abort Script Strategy Logic When Concat Scripts Present
  src/wp-includes/class-wp-scripts.php
  src/wp-includes/script-loader.php
  tests/phpunit/tests/dependencies/scripts.php
Labels: needs:code-review, type:enhancement, Script Loading Strategy

#52 Enhancement / WP Scripts API Loading Strategy Base
  src/wp-includes/class-wp-scripts.php
  src/wp-includes/default-filters.php
  src/wp-includes/functions.wp-scripts.php
  src/wp-includes/script-loader.php
  tests/phpunit/includes/utils.php
  tests/phpunit/tests/dependencies/scripts.php
Labels: needs:code-review, type:enhancement, Script Loading Strategy

#57 in_array('defer', 'async') with helper function
  src/wp-includes/class-wp-scripts.php
Labels: Script Loading Strategy

#56 is_valid_strategy and _doing_wrong check
  src/wp-includes/class-wp-scripts.php
  tests/phpunit/tests/dependencies/scripts.php
Labels: Script Loading Strategy
